
body {
    background-color: #FFF;
    color: #111;
    margin: 0;
}

div {
    border: solid red 1px;
}

a {
    text-decoration: none;
    color: #000000;
}

#logoplayerpanel {
    height: 100px;
}

#logo {
    float: left;
    width: 360px;
}

#player {
    float: left;
    left: 400px;
}

#navigation {
    height: 40px;
}

.navigationitem {
    float: left;
    width: 120px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}



